h3{
	display: flex;
	justify-content: center;
	font-size: 40px;
}
.movie{
	width: 400px;
	height: 300px;
	margin-left: 100px;
}
.pictureMovies{
	width: 400px;
	height: 300px;
}
.popcorn{
	width: 400px;
	height: 300px;
}	

